[Unit]
Description=tvplayer configuration
After=network.target graphical.target
Requires=graphical.target

[Service]
WorkingDirectory=/home/retrotv/small_retro_tv/
ExecStart=/usr/bin/python /home/retrotv/small_retro_tv/configuration.py
User=retrotv
Group=retrotv
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
