[Unit]
Description=tvplayer service
After=network.target graphical.target
Requires=graphical.target
Wants=multi-user.target

[Service]
WorkingDirectory=/home/retrotv/small_retro_tv/
ExecStart=/usr/bin/python /home/retrotv/small_retro_tv/retrotv.py
User=retrotv
Group=retrotv
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target
DefaultInstance=1
